Django==1.4.3
dj-database-url==0.2.1
django-appconf==0.5
-e git+https://github.com/alex/django-filter.git@460927402551ca7f9e77fb2092ee9bcd039dbfe6#egg=django_filter-dev
django-forms-bootstrap==2.0.3.post1
django-user-accounts==1.0b4
metron==1.0
pinax-theme-bootstrap==2.2.2
pinax-theme-bootstrap-account==1.0b2
-e git+https://github.com/pinax/pinax-utils.git#egg=pinax-utils
psycopg2==2.4.6
pytz==2012d
wsgiref==0.1.2
django-gcharts==1.2
-e git+https://github.com/toastdriven/django-haystack.git@46b8117431681991c63a1b90fbe7f70115dd4055#egg=django_haystack-dev
-e git+https://github.com/afrigeo/google-visualization-python.git#egg=google-visualization-python
