{% extends "site_base.html" %}

{% block body %}
    <form action="" method="get">
        <div class="row">
                <div class="span4">
        <label for="id_category">Category:</label>
        {{ filter.form.category }}
        </div>
                        <div class="span4">
        <label for="id_sector">Sector:</label>
        {{ filter.form.sector }}
        </div>

        </div>
        <div class="row">
        <div class="span4">
        <input type="submit" value="Search" /></div>
        </div>
    </form>
    <h1>Journalists</h1>
    <div class="row">
            <div class="span2">
        <h3>Journalist</h3></div>
                <div class="span2">
        <h3>Media Brand</h3></div>

    </div>
    {% for obj in filter %}
        <div class="row">
        <div class="span2"> <a href=""><a href="{%url viewprofile username=obj.profile.user %}">
        {{ obj.profile }}</a></div>
                <div class="span2">
        {{ obj.mediabrand }}</div>
        </div>
    {% endfor %}
{% endblock %}
