{% extends "site_base.html" %}

	{% block body %}

	<div>
	    <h2>Profile</h2>
	    <div class="row">
	    <div class="span4">
	    <p><a href="{%url viewprofile username=user %}">Name: {{user.first_name }} {{ user.last_name}}</a></p>
	    <p>Date of Birth: {{request.user.profile.birthdate }}</p>
            <p>Email: {{user.email }}</p>
            <p>Gender: {{request.user.profile.gender }}</p>
            <p>Phone Number: {{user.profile.mobile }}</p>
            <p>Twitter Handle: {{user.profile.twitter }}</p>
             {% if user.profile.photo %}
            <img src="{{MEDIA_URL}}/{{user.profile.photo}}" width="100px" height="100px">
             {% else %}
	    <img src="http://www.googlelunarxprize.org/sites/googlelunarxprize.org/files/styles/profile_picture/public/default-profile.jpg" width="100px" height="100px">
{% endif %}
            <h3>Employment</h3>
	     {% for job in employment %}
		    <ul>{{ job.employer }}</ul>
		  {{ job.startdate}} - {{ job.enddata}} 
		{% endfor %}
             <p></p>
             <p><a href="/profile/{{request.user}}/employment/">More History</a></p>
             <h3>Education</h3>
             {% for job in education %}
                    <ul>{{ job.institution }}</ul>
                  {{ job.startdate}} - {{ job.enddata}}
                {% endfor %}
             <p></p>
 
	    <h3>Awards</h3>
	     {% for award in awards %}
		    <ul>{{ award.award }} - {{ award.year.year}}</ul>
		{% endfor %}
	    <h3>Company Mentions</h3>
	    {% for mention in mentions %}
                   <ul>{{ mention.company }} - {{mention.num_comp}}</ul>
         
            {% endfor %} 
            <h3>Sector Reports</h3>
            {% for sector in sectors %}
                   <ul>{{ sector.sector }} - {{sector.num_sector}}</ul>

            {% endfor %}           

 
    </div>
    <div class="span8">
    <h2>Education History</h2>
    <div>
     {% for learning in education %}
            <h4>{{ learning.institution }}</h4>
             {{ learning.startdate}} - {{ learning.enddata}}
   
        {% endfor %} 
    </div>
    </div>
    </div>
</div>
</body>
{% endblock %}
